body{

  text-align: center;
  font-family: 'Droid Sans Mono', serif;
}

h1{

  font-size: 50px
}

#navbar{

  width: 500px;
  height: auto;
  display: inline-block;
}

ul{

  display: inline-block;
  padding-left: 0px;
}

li{

  list-style: none;
  display: inline;
}

a{

  text-decoration: none;
  color: black;
  font-size: 150%;
}

#navbar a{

  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 7px;
  padding-left: 7px;
}

#navbar a:hover{

  background-color: #36C3E0;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
