.specifics{
  
  color: #FF5722;
}

.links{
  
  color: #42E73A;
}

.links:hover{
  
  color: #42E73A;
}

.notice{
  
  font-size: 15px;
}

.prof-img{
  
  width: 70px;
}

.featured{
  
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact .specifics{
  
  display: block;
  text-align: center;
  font-size: 20px;
}

.about{
  
  text-align: center;
}